<h1 id="tableLabel">Country List</h1>

<p>The Country List.</p>

<div *ngIf="!country"><em>Loading...</em></div>

<div *ngIf="country">
  <table class='table table-striped' aria-labelledby="tableLabel">
    <thead>
      <tr>
        <th>ID</th>
        <th>Country</th>
        <th>Capital</th>
        <th>Area</th>
        <th>Population</th>
        <th>GDP</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let c of country | paginate: config">
        <td><button class="btn btn-primary" (click)="getSingleNation(c.id)">{{c.id}}</button></td>
        <td>{{c.name}}</td>
        <td>{{c.capital}}</td>
        <td>{{c.area | number}}</td>
        <td>{{c.population | number}}</td>
        <td>{{c.gdp | currency}}</td>
      </tr>
    </tbody>
  </table>
  <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>

  <app-nation [nation]="nation" *ngIf="nation"></app-nation>
</div>
